:root {
  --color-text-primary: #ffffff;
  --color-text-secondary: #aaaaaa;

  --color-background-primary: #0b1200;
  --color-background-secondary: #0f1a12;

  --color-border-tertiary: rgba(119,185,0,0.2);

  --font-sans: 'Inter', sans-serif;
  --font-mono: monospace;

  --border-radius-lg: 16px;
  --border-radius-md: 10px;
}

